body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cdfffe;
    margin: 0;
    padding: 0;
}

.app-table {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.app-table::before {
    border-top: 3px solid #2d8a8a;
    content: "";
    position: absolute;
    width: 100%;
    z-index: 1;
}

.app-table li{
    list-style: none;
    border: 2px solid #067d7d;
    border-radius: 10px;
    text-align: center;
    margin: 0 45px 0 45px;
    padding: 10px 20px;
    background-color: #d9eded;
    transition: box-shadow 0.1s linear;
    margin: 0.5em;
}

.app-table li:hover {
    box-shadow: 0px 0px 0px 5px;
}

a {
    text-decoration: none;
    color:#067d7d;
    z-index: 3;
}

table {
    width: 50%;
}

table, th, td {
    border: 1px solid #067d7d;
}

th, td {
    padding: 10px;
}

.content {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 50px;
}

.content ul {
    padding: 0;
}

.content li {
    list-style: none;
}

.content li::before {
    content: "\2022"; 
    color: #067d7d;
    margin-right: 5px;
}